body {
  font-size: 16px;
  font-family: "Bai Jamjuree", sans-serif;
  color:hsl(201, 11%, 66%);
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	color: hsl(210, 10%, 33%);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

a {
  font-size: 18px;
  display: block;
}

header {
	background-image: url(../images/bg-header-mobile.png);
	background-repeat: no-repeat;
}

header img {
	padding-top: 123px;
}


- Strong Cyan: hsl(171, 66%, 44%)
- Light Blue: hsl(233, 100%, 69%)

### Neutral

- Dark Grayish Blue: hsl(210, 10%, 33%)
- Grayish Blue: hsl(201, 11%, 66%)
